/* GENERAL */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
:root{
    --bg-color-1: #051e34 ; 
    --bg-color-2: #1b72e8;
    --bg-color-gray-1: #f7f7f7;
    --bg-color-gray-2: #f8f9fa;
    --bg-color-gray-3: lightgray;
}
h2{
    background-color: var(--bg-color-gray-1);
}

/* HEADER */
#search-bar .row{
    height: 80px;
}
.my-logo-big{
    width: 150px;
}
.my-logo-small{
    width: 60px;
    display: none;
}
.my-bg-search{
    background-color: var(--bg-color-gray-3);
}
.my-bell{
   color: #ff8f00;

}
.my-bell:focus{
    color: #ff8f00;
 }

/* MAIN */
main{
    width: calc(100% - 150px);
    overflow: auto;
}
#main-content{
    height: calc(100vh - 80px);
    background-color: var(--bg-color-3);
}

/* contenuto SX */
/* aside */
aside{
    background-color: var(--bg-color-1);
    width: 150px;
}
.my-admin{
    transition: 0.2s;
}
nav ul li{
    transition: 0.2s;
}
nav li:hover,
.my-admin:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

/* contenuto DX */
/* header */
#main-header{
    background-color: var(--bg-color-2);
}
#main-header a{
    text-decoration: none;
    color: white;
}
.my-badge{
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}
.my-badge:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}
.app-plus{
    display: none;
}
.my-off{
    width: 70% !important;
}

/* prossime classi */
table tbody tr:hover{
    cursor: pointer;
    background-color: var(--bg-color-gray-3);
}
table tbody td,
table th:not(.nome){
    text-align: center;
}
.my-symbol{
    background-color: #f26551;
}






/* RESPONSIVE */
/* extralarge-> large */
@media screen and (max-width: 992px) {

    aside{
        width: 60px;
        text-align: center;
    }
    main{
        width: calc(100% - 60px);
    }
    #search-bar li:not(:last-child),
    aside a,
    .my-logo-big,
    .my-app-2{
        display: none;
    }
    .my-logo-small{
        display: block;
    }
    .app-plus{
        display: inline-block;
    }
    .my-off{
        width: 100% !important;
    }
}

/* large -> medium */
@media screen and (max-width:768px) {
    .data-inizio{
        display: none;
    }
}

/* medium -> small */
@media screen and (max-width:576px) {
    .ROI{
        display: none;
    }
    
}