/* GENERAL */
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* HEADER */
#search-bar .row{
    height: 10vh;
    line-height: 10vh;
}

/* MAIN */
main{
    width: calc(100% - 150px);
    overflow: auto;
}
#main-content{
    height: 90vh;
}

/* contenuto sx */
/* aside */
aside{
    background-color: black;
    width: 150px;
    min-height: 150px;
}
nav ul li{
    transition: 0.2s;
}
nav li:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

/* contenuto dx */
#main-header{
    background-color: blue;
}



/* DEBUG */
/* 
header .row > div{
    border: 1px solid black;
} */






@media screen and (max-width: 992px) {
    section .row > div{
        display: block;
        width: 100%;
    }
}